<% 
  const title = 'Agriculture - Varuna Electric';
  const pageStyles = ["/css/agriculture.css"];
%>
<%- include('includes/layout-head', { title: title, pageStyles: pageStyles }) %>

<body>
  
   <!-- header code is on views/includes/header.ejs file -->
  <%- include('includes/header')%>
  <!-- header code is between this comments -->




    <!-- main starts from here -->
    <main id="body-main">
     



    </main>




    
    <!-- footer code starts from here / footer code is on views/includes/footer.ejs -->
    <%- include('includes/footer')%>
    <!-- footer code ends here -->

    <div id="back-top">
      <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>

  
</body>

</html>