<% 
  const title = 'Gallery - Varuna Electric';
  const pageStyles = ["/css/gallery.css"];
%>
<%- include('includes/layout-head', { title: title, pageStyles: pageStyles }) %>

<body>

   

    <!-- header code is on views/includes/header.ejs file -->
    <%- include('includes/header')%>
        <!-- header code is between this comments -->




    <!-- main code starts from here -->

    <main style="background-color: rgba(211, 211, 211, 0.276); height: auto;">

        <div
            style="background-image: url(/images/job-opening-img.webp); height: 300px; width: 100vw; background-size: cover; color: white; text-align: center; padding-top: 20px;">
            <h3 style="filter: none; color: white; text-align: center; padding-top: 100px;">Gallery</h3>
            <div style="padding-top: 20px;">
                <a href="/" style="color: white; text-decoration: none; text-align: center;">Home</a> &nbsp; |
                &nbsp; <a href="/media" style="color: white; text-decoration: none; text-align: center;">Media</a>
                &nbsp; | &nbsp; <a href="/gallery"
                    style="color: white; text-decoration: none; text-align: center;">Gallery</a>
            </div>
        </div>



        <div style="display: flex; gap: 30px; justify-content: center; padding: 20px; margin-top: 50px;">
            <button
                style="width:250px; height: 60px; background-color: white; border: 2px solid transparent; border-radius: 10px;"
                class="two-items" id="bt1">
                <h4>
                    Trade Fairs
                </h4>
            </button>

            <button
                style="width:250px; height: 60px; background-color: white; border: 2px solid transparent; border-radius: 10px;"
                class="two-items" id="bt2">
                <h4>
                    Print Ad
                </h4>
            </button>
        </div>
        <br>


        <div style="text-align: center; color: red;">
            <h4 class="sec1">You Are In 1st Part</h4>
            <h4 class="sec2" style="display: none;">You Are In 2nd Part</h4>
        </div>
        <br>
        <br>





        <div class="grid-container sec1">
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/090120200918121.jpg" alt="Image 1"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Lakshaya Expo</div>
            </div>
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/090120200916061-1.jpg.webp" alt="Image 2"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">ADF Tech</div>
            </div>
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/120420180506171.jpg" alt="Image 3"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">AGRI INTEX</div>
            </div>
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/fitrst-f-1.jpg.webp" alt="Image 4"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">IPT Banglore</div>
            </div>
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/120420180517151.jpg" alt="Image 5"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Kisan Exhibition</div>
            </div>
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/120420180502141.jpg.webp" alt="Image 6"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Kisan Exhibition 2014-15</div>
            </div>
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/120420180556121.jpg.webp" alt="Image 7"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Big 5 Dubai</div>
            </div>
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/120420180554101.jpg" alt="Image 8"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Punjab Kisan Mela</div>
            </div>
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/120420180558081.jpg.webp" alt="Image 9"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Agritech Asia</div>
            </div>
            <div class="grid-item sec1">
                <img src="https://www.varunaelectric.com/wp-content/uploads/fitrst-f.jpg" alt="Image 10"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Kisan Exhibition 2019</div>
            </div>

        </div>


        <div class="grid-container sec2" style="display: none;">
            <div class="grid-item sec2">
                <img src="https://www.varunaelectric.com/wp-content/uploads/13042018073339.jpg.webp" alt="Image 1"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Ad 1</div>
            </div>
            <div class="grid-item sec2">
                <img src="https://www.varunaelectric.com/wp-content/uploads/13042018075940.jpg.webp" alt="Image 2"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Ad 2</div>
            </div>
            <div class="grid-item sec2">
                <img src="https://www.varunaelectric.com/wp-content/uploads/13042018071641.jpg" alt="Image 3"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Ad 3</div>
            </div>
            <div class="grid-item sec2">
                <img src="https://www.varunaelectric.com/wp-content/uploads/13042018073541.jpg" alt="Image 4"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Ad 4</div>
            </div>
            <div class="grid-item sec2">
                <img src="https://www.varunaelectric.com/wp-content/uploads/13042018074941.jpg.webp" alt="Image 5"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Ad 5</div>
            </div>
            <div class="grid-item sec2">
                <img src="https://www.varunaelectric.com/wp-content/uploads/13042018070542.jpg.webp" alt="Image6"
                    class="grid-image" style="height: 250px;">
                <div class="grid-caption">Ad 6</div>
            </div>

        </div>


    </main>


  <!-- footer code is on views/includes/footer.ejs file -->
  <%- include('includes/footer')%>
  <!-- footer code is between this comments -->





    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>


</body>

</html>