<% 
  const title = 'Launch Optiqua - Varuna Electric';
  const pageStyles = ["/css/launchOptiqua.css"];
%>
<%- include('includes/layout-head', { title: title, pageStyles: pageStyles }) %>

<body>
   

     <!-- header code is on views/includes/header.ejs file -->
     <%- include('includes/header')%>
     <!-- header code is between this comments -->


    <!-- main code starts from here-->
    <main>


        <div class="optiqua-img" style="margin-top: 50px; padding-top: 50px; ">
            <!-- <img src="public/img/launch-optiqua-img.png" alt=""> -->
        </div>

        <div style="margin-left: 35px; padding-left: 10px;">
            <h4>Launched Optiqua</h4>
            <p>8 Dec 2021</p>
            <br>
            <p style="max-width: 717px;">
                Optiqua Pipes and Electricals Private Limited (herein referred as OPEPL), a wholly-owned subsidiary of
                La-Gajjar Machineries Private Limited (Subsidiary of Kirloskar Oil Engines Limited), as per the consent
                of their Board of Directors has executed Joint Venture Agreement, Share Purchase Agreement including
                other deeds/documents with ESVA Pumps India Private Limited, Coimbatore, Tamilnadu (herein referred as
                ESVA) on 31st August 2021.
            </p>
            <p style="max-width: 717px;">
                OPEPL will acquire a 49% stake in the equity share capital of ESVA. ESVA is engaged in the business of
                manufacturing different kinds of pumps used for commercial, agricultural and domestic purposes.
            </p>
        </div>



    </main>



        <!-- footer code is on views/includes/footer.ejs file -->
        <%- include('includes/footer')%>
        <!-- footer code is between this comments -->
   


    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>


</body>

</html>