<% 
  const title = 'News - Varuna Electric';
  const pageStyles = ["/css/news.css"];
%>
<%- include('includes/layout-head', { title: title, pageStyles: pageStyles }) %>

<body>



     <!-- header code is on views/includes/header.ejs file -->
     <%- include('includes/header')%>
     <!-- header code is between this comments -->


    <main>

        <div style="background-color: grey; width: 100vw; height: 250px; background-size: contain; opacity: 0.8;">
            <h3 style="color: white; text-align: center;padding-top: 90px;">News
            </h3>
            <div style="color: red; text-align: center; font-size: 20px; font-weight: 500;"><a href="/"
                    style="color: white; text-decoration: none; text-align: center;">Home</a> | <a href="/media"
                    style="color: white; text-decoration: none; text-align: center;">Media
                </a> | <a href="/news" style="color: white; text-decoration: none; text-align: center;">News</a>
            </div>
        </div>

        <div class="optiqua-img" style="margin-top: 50px; padding-top: 50px; ">
        </div>

        <div class="optiqua-txt">
            <div style="margin-left: 25px; color: white;">
                <div style="display: flex; flex-direction: column; padding-top: 20px;">
                    <h4>Launched Optiqua</h4>
                    <h5>Published on : 08 Dec 2021</h5>
                </div>
            </div>
        </div>

        <div style="margin-left: 25px; margin-top: 50px;">
            <a href="/launchOptiqua" style="text-decoration: none; color: red;">
                Read More

                <div
                    style="width: 50px; height: 50px; border: 2px solid red; border-radius: 50%; margin-top: -35px; margin-left: 65px;border-left: 2px solid transparent;">
                    <i class="fa-solid fa-chevron-right" style="margin-top: 15px; margin-left: 18px;"></i>
                </div>
            </a>

        </div>

    </main>

     <!-- footer code is on views/includes/footer.ejs file -->
     <%- include('includes/footer')%>
     <!-- footer code is between this comments -->



    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>


</body>

</html>