<% 
  const title = 'Register - Varuna Electric';
  const pageStyles = [];
%>
<%- include('includes/layout-head', { title: title, pageStyles: pageStyles }) %>

<body>
    <% if (message) { %>
        <p>
            <%= message %>
        </p>
        <% } %>
            <form action="/admin/register" method="POST">
            <div>
                <h4>Register CE or CRM User</h4>
                <input type="text" name="username" placeholder="Enter username" required>
                <input type="email" name="email" placeholder="Enter email" required>
                <input type="password" name="password" placeholder="Enter password" required>
                <div style="display: flex; gap: 10px; justify-content: space-between; width: 150px;">
                    <label for="">Select Role</label>
                    <select name="role">
                        <option value="ce">CE</option>
                        <option value="crm">CRM</option>
                    </select>
                </div>
                <button type="submit">Register</button>

            </div>    
            </form>

</body>

</html>