<% 
  const title = 'Write To Us - Varuna Electric';
  const pageStyles = ["/css/WriteToUs.css"];
%>
<%- include('includes/layout-head', { title: title, pageStyles: pageStyles }) %>

<body>
    

     <!-- header code is on views/includes/header.ejs file -->
     <%- include('includes/header')%>
     <!-- header code is between this comments -->


    <main>

        <div
            style="background-image: url(https://images.unsplash.com/photo-1505744386214-51dba16a26fc?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fHdyaXRlJTIwdG8lMjB1c3xlbnwwfHwwfHx8MA%3D%3D); width: 100vw; height: 250px; background-size: contain; opacity: 0.8;">
            <h3 style="color: red; text-align: center;padding-top: 90px;">
                Write To Us
            </h3>
            <div style="color: white; text-align: center; font-size: 20px; font-weight: 500;"><a href="/"
                    style="color: red; text-decoration: none; text-align: center;">Home</a> | <a href="/contact"
                    style="color: black; text-decoration: none; text-align: center;">Contact
                </a> | <a href="/WriteToUs"
                    style="color: red; text-decoration: none; text-align: center;">Write-to-us</a></div>
        </div>


        <div style=" margin-top: 80px; text-align: center;">
            <h4>Enquiry <span style="color: red;">Form</span></h4>
            <p style="margin-left: px;">
                For any queries and general information about our products and services, please contact us using the
                following form. <br>
                We will get back to you shortly.
            </p>
        </div>
        <br><br>


        <form action="" style="display: flex; flex-direction: column; justify-content: center;">

            <div style="margin-left: 40px;">
                <input type="text" placeholder="Your Name" style="width: 30vw;" required>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="email" placeholder="Your Email" style="width: 30vw;" required>
            </div>
            <br>
            <div style="margin-left: 40px;">
                <input type="number" placeholder="Phone" style="width: 30vw;" required>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" placeholder="City" style="width: 30vw;" required>
            </div>
            <br>
            <div style="margin-left: 40px;">
                <textarea name="" id="" style="width: 63vw; height: 100px;" placeholder="Message"></textarea>
            </div>
            <br>

            <input type="submit"
                style="margin-left: 40px; background-color: red; padding: 5px; width: 100px; border: 2px solid transparent; border-radius: 10px; color: white;">

        </form>


    </main>
    <br><br>


     <!-- footer code is on views/includes/footer.ejs file -->
     <%- include('includes/footer')%>
     <!-- footer code is between this comments -->






    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>



</body>

</html>